.footer {
    font-family: 'var(--primaryFont)', sans-serif;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.footer p {
    font-weight: 500;
    font-family: var(--primaryFont);
    font-size: 18px;
}

.footer p span {
    font-size: 24px;
}